*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  background-color: #f1f1f1;
  color: #333;
  overflow-x: hidden;
  overflow-y: scroll !important;
}

button {
  padding: 8px 16px;
  background-color: #f1f1f1;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.5;

  text-transform: uppercase;
  font-weight: 400;

  &:hover {
    background-color: #ccc;
  }
}

.btn-primary {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 2px;
  font-family: inherit;
  line-height: 1.5;
  background-color: material-color('blue', '600');
  color: #fff;
  text-decoration: none;

  &:hover, &:focus, &:active {
    background-color: material-color('blue', '800');
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border: 1px solid #ccc;
}

td {
  padding: 8px;
}

.icon {
  max-height: 24px;
}
