<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Password Manager</title>
    <link rel="stylesheet" href="/main.css?v=##css_hash##">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app-root" style="display: none;">
        <header class="site-header">
            <div class="container">
                <a href="/" class="logo">Home</a>
                <a href="/">About</a>
                <button @click="sync">Sync</button>

                <header-login :store="store"></header-login>
                <!-- <button v-if="isUserLoggedIn" @click="logout">Logout</button>
                <button v-if="!isUserLoggedIn" @click="loginWithGitHub">Login with GitHub</button> -->
                <!-- <button v-on:click="login('google')">Login with Google</button> -->
            </div>
        </header>

        <div class="container">

            <table>
                <tbody>
                    <tr v-for="vault in vaults">
                        <td>locked</td>
                        <td>{{ vault.name }}</td>
                        <td>{{ vault.id }}</td>
                        <td>
                            <button>Open</button>
                            <button>Rename</button>
                            <button>Change password</button>
                            <button>Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>


            <button @click="showModal = true">Show modal</button>

            <modal-window v-if="showModal" @close="showModal = false">
                <p>asdfg</p>
                <button @click="showModal = false">Close</button>
            </modal-window>

            <!-- <div transition="modal" v-if="showModal" @click.self="showModal = false">
                <div style="background-color: #fff; max-width: 300px; height: 300px; width: 100%;">
                    <p>blah</p>
                    <div>sdssdfsd</div>
                </div>
            </div> -->

            <!-- <header class="hero-header">
                <h1>Password Manager</h1>
            </header> -->

            <!-- <button>Lock all vaults</button> -->

            <!-- <ul class="vault-tabs" v-if="vaults.length">
                <li v-for="vault in vaults" class="tab"><a href="/vaults/{{ vault.id }}">{{ vault.name }}</a></li>
                <li><a href="/vaults/new">+ new vault</a></li>
                <li style="float: right;"><a href="/vaults/settings">Settings</a></li>
            </ul>
            -->

            <ul class="vault-tabs">
                <li v-for="tab in tabs" :class="tab.classes"><a :href="tab.href">{{ tab.text }}</a></li>
            </ul>

            <div v-for="vault in vaults">
                <vault-view :vaultid="vault.id"></vault-view>
            </div>

            <!-- <form>
                <label>
                    <input type="checkbox" checked>
                    Auto lock after
                    <input type="text">
                    minutes of inactivity
                </label>
            </form> -->

        </div>

        <footer class="site-footer">
            Created by <a href="http://bdadam.com/">bdadam.com</a>
            |
            Website provided as-is, no warranty. This is just an experiment.
        </footer>
    </div>

    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js" defer></script>
    <script src="/main.js?v=##js_hash##" defer></script>
</body>
</html>
