<loading-indicator v-if="vaultsLoading" :message="Please wait while loading your vaults..."></loading-indicator>

<ul class="vault-list">
    <li class="vault-card" v-for="(id, vault) in vaults">
        <a href="/vaults/{{ id }}" class="vault-card-content">
            <h3 class="title">{{ vault.name }}</h3>
            <p>Created: {{ vault.created | formatDate }}</p>
        </a>
        <div class="vault-card-actions">
            <a href="/vaults/{{ id }}">Open</a>
            <a href="#" @click.prevent="removeVault(id)">Remove</a>
        </div>
    </li>
</ul>

MAIN
<br>
<button @click="navigate('/vaults/new')">create vault</button>

<modal-window v-if="view === 'vault-create'" @close="goback">
    <form @submit.prevent="createVault">
        <label><input type="text" v-model="newVaultName"></label>
        <button type="submit">Create Vault</button>
        <button @click.prevent="goback">Cancel</button>
    </form>
</modal-window>
