<div style="text-align: center; margin: 8px auto">
    <button @click="navigate('/vaults/new')">create vault</button>
</div>

<vault-list :store="store"></vault-list>
<vault-details :store="store" :vaultid="currentVaultId"></vault-details>
<vault-secret-details :store="store" :secretid="currentSecretId"></vault-secret-details>

<modal-window v-if="view === 'vault-create'" @close="goback">
    <form @submit.prevent="createVault">
        <label><input type="text" v-model="newVaultName"></label>
        <button type="submit">Create Vault</button>
        <button @click.prevent="goback">Cancel</button>
    </form>
</modal-window>
